/* ---------- GLOBAL ------------ */

*{
	border: none;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body{
	color: #444444;
	font-size: 17px;
	line-height: 1.2em;
	font-family: 'Raleway', sans-serif;
}

h2{
	font-size: 2em;
	line-height: 1em;
}

.text-center{
	text-align: center;
}

ol, ul{
	list-style: none;
}

hr{
	width: 85%;
	border: 0.5px solid #cfcfcfc4;
	margin: 5px auto;

}

.hide{
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
	opacity: 0 !important;
}

.fade{
	opacity: 0;
}

.flex{
	display: flex;
}

.row{
	flex-direction: row;
}

.justify-center{
	justify-content: center;
}

.align-center{
	align-items: center;
}

.clr{
	clear: both;
}

.pd-10{
	padding: 10px;
}
.pd-15{
	padding: 15px;
}
.pd-20{
	padding: 20px;
}

.mg-10{
	margin: 10px;
}
.mg-15{
	margin: 15px;
}
.mg-20{
	margin: 20px;
}


/* ---------- HEADER AND NAVBAR --------- */

header#main-nav{
	height: 95px;
	width: 100%;
	background: #20C258;
	position: absolute;
	z-index: 10;
}

#main-logo{
	width: 50px;
	margin: auto;
}

#main-logo>img{
	width: 100%;
}

#brand-title{
	color: #efefef;
	text-align: center;
	padding: 20px 0;
	font-size: 0.5em;
}

#navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100vh;
	background: #FFE7C2;
	transition: transform 200ms ease-out;
}

#navbar ul{
	padding-top: 25px;
}

#navbar ul li{
	padding: 10px 15px;
	margin-bottom: 5px;
	text-align: center;
	text-transform: uppercase;
}

#navbar ul>li>a:link, #navbar ul>li>a:visited{
	color: #666666;
}

.navbar-off{
	transform: translateX(-200px);
}

/* -------- HAMBURGER MENU BUTTON -------- */

#btn-menu{
	border: 1px solid #fff;
	border-radius: 5px;
	width: 40px;
	height: 40px;
}

.line{
	width: 26px;
	height: 4px;
	background: #fff;
	margin-top: 6px;
	margin-left: 6px;
}

#btn-menu:active, #btn-close:active{
	opacity: 0.7;
}

#btn-close{
	border: 1px solid #555555;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 10px;
	top: 5px;
}

#btn-close>.line{
	width: 23px;
	background: #555555;
}

#btn-close>.line:first-child{
	transform: translate(-3px,5px) rotate(45deg);
}

#btn-close>.line:last-child{
	transform: translate(-3px,-5px) rotate(-45deg);
}

/* ------- SLIDER ----------- */

.slider-container{
	position: relative;
	width: 100%;
	align-items: center;
}

.slider-item{
	position: absolute;
	width: 100%;
	overflow: hidden;
	transition: opacity 1000ms ease-in-out;
	z-index: 1;
}

.slider-item img{
	width: 100%;
	height: auto;
}


/* CAPTIONS */

.slide-text{
	color: #fff;
	position: absolute;
	bottom: 50px;
	font-weight: normal;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity 400ms ease-in-out;
	z-index: 2;
}

.slide-text h3{
	font-size: 2em;
}

.slide-text q{
	display: block;
	text-align: right;
	font-style: italic;
	font-size: 1.15em;
}

.slide-text q::before{
	content: "-";
}

/* ------ INDICATORS ------ */

.slider-indicators{
	position: absolute;
	z-index: 3;
	bottom: 10px;
	left: 50%;
	height: 30px;
	transform: translateX(-50%);
}

.indicator{
	display: inline-block;
	width: 3vw;
	height: 5px;
	background: rgba(248, 248, 248, 0.568);
	margin-right: 10px;
	padding: 0 10px;
}

.indicator-active{
	background: rgba(255, 255, 255, 0.89);
}

/* -------- PREV AND NEXT BUTTONS --------- */

.cycle-button{
	position: absolute;
	top: 50%;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	transform: translateY(-50%);
	z-index: 20;
	border: 2px solid #fdfdfd42;
	color: #fdfdfd42;
	text-align:center;
	padding: 13px;
	font-size: 2.2em;
	font-weight: bold;
}

.cycle-button:hover{
	border-color: #fdfdfd;
	color: #fdfdfd;
	cursor: pointer;
}

#prev-button{
	left: 10px;
}

#next-button{
	right: 10px;
}
